<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Accounts</div>
        <div class="card-body">
          <form [formGroup]="accountFormGroup" (ngSubmit)="handleSearchAccount()">
            <div class="input-group">
            <label class="input-group-text">Account ID :</label>
            <input type="text" formControlName="accountId" class="form-control">
            <button class="btn btn-success">
              <i class="bi bi-search"></i>
              Search
            </button>
            </div>
          </form>
          <ng-template #errorTemplate>
            <ng-container *ngIf="errorMessage">
              <div class="text-danger mt-2">{{errorMessage}}</div>
            </ng-container>
          </ng-template>
          <ng-container *ngIf="accountObservable | async as accountInfo; else errorTemplate">
            <div class="mt-2 mb-2">
              <label>Account ID : </label>
              <label><strong>{{accountInfo.id}}</strong></label>
            </div>
            <div class="mb-2">
              <label>Account balance : </label>
              <label><strong>{{accountInfo.balance | number : '1.2-2'}}</strong></label>
            </div>
            <table class="table">
              <thead>
              <tr>
                <th>ID</th><th>DATE</th><th>TYPE</th><th class="text-end">AMOUNT</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let op of accountInfo.accountOperations">
                <td>{{op.id}}</td>
                <td>{{op.operationDate | date : 'dd-MM-yyyy:HH-mm-ss'}}</td>
                <td>{{op.type}}</td>
                <td class="text-end">{{op.amount | number : '1.2-2'}}</td>
              </tr>
              </tbody>
            </table>
            <ul class="nav nav-pills">
              <li *ngFor="let item of [].constructor(accountInfo.totalePages); let page= index">
                <a [ngClass]="page==currentPage?'btn-info':'btn-outline-info'" (click)="goToPage(page)" class="btn ms-1 mt-1">{{page}}</a>
              </li>
            </ul>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" *ngIf="accountObservable">
        <div class="card-header">Operations :</div>
        <div class="card-body">
          <form [formGroup]="operationsFormGroup" (ngSubmit)="handleSaveOperation()" method="post">
            <div class="form-check-inline ms-2">
              <input class="form-check-input " type="radio" formControlName="operationType" value="DEBIT">
              <label class="form-check-label ms-2">DEBIT</label>
            </div>
            <div class="form-check-inline ms-2">
              <input class="form-check-input" type="radio" value="CREDIT" formControlName="operationType">
              <label class="form-check-label ms-2">CREDIT</label>
            </div>
            <div class="form-check-inline ms-2">
              <input class="form-check-input" type="radio" formControlName="operationType" value="TRANSFER">
              <label class="form-check-label ms-2">TRANSFER</label>
            </div>
            <div class="mt-2" *ngIf="operationsFormGroup.value.operationType=='TRANSFER'">
              <label class="form-label">Destination account :</label>
              <input type="text" class="form-control" formControlName="destinationAccount">
            </div>
            <div>
              <label class="form-label mt-2">Amount :</label>
              <input class="form-control" type="text" formControlName="amount">
            </div>
            <div>
              <label class="form-label mt-2">Description :</label>
              <input class="form-control" type="text" formControlName="description">
            </div>
            <div class="d-grid mt-2">
              <button class="btn btn-success">Save operation</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
